@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+DK+Uloopet:wght@100..400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 0 0% 3.9%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 3.9%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 0 0% 3.9%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 0 0% 3.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 47.9 95.8% 53.1%;

    --input: 20 5.9% 90%;

    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-hidden h-screen bg-gradient-to-br from-background to-secondary via-secondary text-foreground;
  }
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

.h-calculated {
  height: calc((82% * 100vh)-4rem);
}
